let mapleader = ","

nnoremap L $
vnoremap L $
nnoremap H ^
vnoremap H ^

noremap ; :

nnoremap j gj
nnoremap k gk
vnoremap j gj
vnoremap k gk
nnoremap <Down> gj
nnoremap <Up>   gk
vnoremap <Down> gj
vnoremap <Up>   gk

nnoremap x "_x
vnoremap x "_x

nnoremap s <Nop>
vnoremap s <Nop>

nnoremap sj <C-w>j
nnoremap sk <C-w>k
nnoremap sl <C-w>l
nnoremap sh <C-w>h

nnoremap sJ <C-w>-
nnoremap sK <C-w>+
nnoremap sL <C-w>>
nnoremap sH <C-w><

nnoremap ss :<C-u>sp<CR>
nnoremap sv :<C-u>vs<CR>

nnoremap == gg=G
